{% extends "auth_base.html" %}
{% block title %}Password Reset{% endblock %}
{% block content %}
    <div class="reset-container">
        <h1>Reset Password</h1>
        <p class="reset-text">
            Enter your email address and we’ll send you a link to reset your password.
        </p>
        <form method="post">
            {% csrf_token %}
            <label for="{{ form.email.id_for_label }}" class="sr-only">Email</label>
            {{ form.email }}
            <button class="form-btn" type="submit">Send Reset Link</button>
        </form>
        <a href="{% url 'login' %}" class="link">Back to Login</a>
    </div>

    <style>
        .reset-container {
            margin-top: -60px;
        }

        .reset-text {
            color: var(--white);
            margin-bottom: 20px;
            font-size: 16px;
            text-align: center;
        }

        .sr-only {
            position: absolute;
            left: -9999px;
        }

        h1, .reset-text, .link, label {
            color: #F0F0F0; 
        }
    </style>
{% endblock %}