{% extends "auth_base.html" %}
{% block title %}Password Reset Sent{% endblock %}
{% block content %}
    <div class="reset-sent-container">
        <h1>Check your email</h1>
        <p class="reset-sent-text">
            We’ve sent you a password reset link if the email exists in our system.
        </p>
        <a href="{% url 'login' %}" class="link">Back to Login</a>
    </div>

    <style>
        .reset-sent-container {
            margin-top: -60px; 
        }

        .reset-sent-text {
            color: var(--white);
            margin-bottom: 20px;
            font-size: 16px;
            text-align: center;
        }
    </style>
{% endblock %}