{% extends "auth_base.html" %}
{% block title %}Password Reset Complete{% endblock %}
{% block content %}
    <div class="reset-sent-container">
        <h1>Password Reset Successful 🎉</h1>
            <p style="color: var(--white); margin-bottom: 20px;">
                Your password has been updated. You can now log in.
            </p>
            <a href="{% url 'login' %}" class="button-Secondary">Go to Login</a>
    </div>

    <style>
        .reset-sent-container {
            margin-top: -60px; 
        }

        .reset-sent-text {
            color: var(--white);
            margin-bottom: 20px;
            font-size: 16px;
            text-align: center;
        }

        .button-Secondary {
            display: block;
            margin-top: 20px;
            padding: 12px;
            background: white;        
            color: var(--brand);            
            font-weight: bold;
            border: 1px solid var(--white); 
            border-radius: 5px;
            text-align: center;
            text-decoration: none;
            font-size: 14px;
            cursor: pointer;
            transition: background 0.2s ease-in-out;
        }
    </style>
{% endblock %}