<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title> Client Details </title>
<style>
    :root {
        --brand: #2148C0;
        --white: #fff;
        --muted: rgba(255,255,255,0.8);
        --black: #000;
    }
    * {
        box-sizing: border-box;

    }
    .details-container{
        min-height:100%;
        display:flex;
        align-itemns: flex-start;
        justify-content: center;
        padding: 2.5rem .75rem;

    }
</style>
</head>
<body>
</body>
</html>